
* {
    margin: 0;
    padding: 0;
}
body {
    background: rgba(2,0,36,1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.Card {
    background: white;
    width: 45vw;
    height: 17rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(254, 254, 254, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.advice {
    padding: 0px 10px 0px 10px;
    margin: auto;
    text-align: center;
    color: rgba(2,0,36,1);
    font-size: 0.9rem;
}

.button {
    margin-top: auto;
    font-weight: 550;
    margin-bottom: 2rem;
    background: white;
    border: 2px solid rgba(2,0,36,1);
    border-radius: 30px;
    width: 20rem;
    height: 2.5rem;
    color: rgba(2,0,36,1);
    font-size: 0.8rem;
    cursor: pointer;
}


@media (max-width: 800px) {
    .Card {
        width: 95vw;
    }
    .button {
        width: 80%;
    }
}